{{!-- Site homepage --}}
<ol class="post-list">
  {{!-- each allows for iteration of the posts, i.e. a loop to create each item --}}
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{blog_post}}" target="_blank">{{title}}</a><br>
        <span>({{blog_post}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>